.user-field {
  margin-bottom: 10px;

  & > div {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 9px;

    margin-bottom: 8px;
    color: #000000;
  }

  input {
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    outline: none;
    padding: 8px;
    width: 100%;
    max-width: 311px;

    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.3);
  }

  &__error {
    color: red !important;
  }
}