.user-container {
  background: #F3F3F3;
  border-radius: 8px;
  margin-bottom: 14px;
  position: relative;
  padding: 10px;
  transition: all .2s ease-in-out;
  cursor: text;

  &:hover {

    background-color:#d5d5d5;

    @media (max-width: 782px) {
      transform: scale(1.03);
    }

    @media (min-width: 783px) {
      transform: scale(1.1);
    }
  }
  
  p + p {
    margin-top: 8px
  }

  &__link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #4B51EF;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
  }
}