.users {
  &>p {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #000000;

    margin-bottom: 17px;
  }

  width: 100%;
  padding: 19px 62px 25px 31px;
  background-color: #fff;
}